*{
    font-family: "Poppins", sans-serif;
    list-style-type: none;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/*estilos header*/

.main_header{
    height: 300px;
    background-color: white;
    width: 100%;
}


.top_header{
    height: 55%;
    background-color:  rgb(249, 248, 248);
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_header p{
    font-weight: 400;
    font-size: 1.3em;
}

.top_header img{
    height: 100px;
    padding-right: 60px;
}

.bottom_header{
    height: 30%;
    background-color: rgba(250, 249, 248, 0.782);
}


.ul_itens{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    padding-top: 20px;
    color: black;
    cursor: pointer;
    gap: 18px;
}

.ul_itens li a{
    font-size: 1.2em;
    color: black;
    transition: color 0.5s;
    text-decoration: none;
}

.ul_itens li a:hover{
    color: blue;
}


.menu_hamburguer{
    display: none;
}

.menu_itens{
    display: none;
}

.span_header{
    margin-right: 10px;
}

.p_header{
    margin-right: 50px;
    text-align: center;
}



@media (max-width: 1170px) {
    .top_header{
        height: 100%;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 10px;
    }
    .main_header{
        height: auto;
    }
    .top_header img{
        height: 80px;
        padding-right: 0px;
        margin-bottom: 15px;
    }
    .p_header{
        margin-right: 0px;
    }
    .ul_itens{
        flex-direction: column;
    }
    .span_header{
        display: none;
    }
    .email_span{
        display: none;
    }
    .margin_comercio{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    .li_itens{
        margin-bottom: 30px;
    }
}

.menu_itens.open {
    left: 0;
}

.main_mobile.show {
    display: block;
}


/*Fim estilos header*/


/*Estilos main*/

