*{
    font-family: "Poppins", sans-serif;
    list-style-type: none;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.main_header{
    height: 300px;
    background-color: white;
    width: 100%;
}


.top_header{
    height: 55%;
    background-color:  rgb(249, 248, 248);
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_header p{
    font-weight: 400;
    font-size: 1.3em;
}

.top_header img{
    height: 100px;
    padding-right: 60px;
}

.bottom_header{
    height: 30%;
    background-color: rgba(250, 249, 248, 0.782);
}

.nav_itens{
    display: flex;
    justify-content: center;
}


.ul_itens{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    padding-top: 20px;
    color: black;
    cursor: pointer;
    gap: 18px;
}

.ul_itens li a{
    color: black;
    transition: color 0.5s;
    text-decoration: none;
}

.ul_itens li a:hover{
    color: blue;
}


.menu_hamburguer{
    display: none;
}

.menu_itens{
    display: none;
}



@media (max-width: 1170px) {
    .top_header{
        height: 100%;
        flex-direction: column;
        padding-top: 30px;
    }
    .main_header{
        height: 120px;
    }
    .top_header img{
        height: 80px;
        padding-right: 30px;
    }
    .ul_itens {
        display: none;
    }

    .main_mobile {
        display: none;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        transition: all 0.3s ease;
    }

    .menu_itens {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -70%;
        width: 70%;
        height: 100%;
        background-color: white;
        z-index: 1001;
        transition: all 0.3s ease;
    }

    .menu_itens ul {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .menu_itens li {
        margin: 20px 0;
        font-size: 1.5em;
        cursor: pointer;
    }
    .ul_mobile a{
        color: black;
        transition: color 0.5s;
        text-decoration: none;
    }
    
    .ul_mobile a:hover{
        color: blue;
    }

    .menu_hamburguer{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #00A9AC;
        height:155px;
        width: 55px;
        position: absolute;
        right: 0%;
        top: 0%;
        cursor: pointer;
        font-size: 1.8em;
    }
}

.menu_itens.open {
    left: 0;
}

.main_mobile.show {
    display: block;
}