*{
    font-family: "Poppins", sans-serif;
    list-style-type: none;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/*estilos header*/

.main_header{
    height: 300px;
    background-color: white;
    width: 100%;
}


.top_header{
    height: 55%;
    background-color:  rgb(249, 248, 248);
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_header p{
    font-weight: 400;
    font-size: 1.3em;
}

.top_header img{
    height: 100px;
    padding-right: 60px;
}

.bottom_header{
    height: 30%;
    background-color: rgba(250, 249, 248, 0.782);
}


.ul_itens{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    padding-top: 20px;
    color: black;
    cursor: pointer;
    gap: 18px;
}

.ul_itens li a{
    font-size: 1.2em;
    color: black;
    transition: color 0.5s;
    text-decoration: none;
}

.ul_itens li a:hover{
    color: blue;
}


.menu_hamburguer{
    display: none;
}

.menu_itens{
    display: none;
}

.span_header{
    margin-right: 10px;
}

.p_header{
    margin-right: 50px;
    text-align: center;
}

.email_span{
  display: none;
}

.span_header{
  display: none;
}



@media (max-width: 1170px) {
    .top_header{
        height: 100%;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 10px;
    }
    .main_header{
        height: auto;
    }
    .top_header img{
        height: 80px;
        padding-right: 0px;
        margin-bottom: 15px;
    }
    .p_header{
        margin-right: 0px;
    }
    .ul_itens{
        flex-direction: column;
    }
    .span_header{
        display: none;
    }
    .email_span{
        display: none;
    }
    .margin_comercio{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    .li_itens{
        margin-bottom: 30px;
    }
}

.menu_itens.open {
    left: 0;
}

.main_mobile.show {
    display: block;
}


/*Fim estilos header*/


/*Estilos main*/

.main_texto{
    margin:auto;
    height: auto;
    width: 80%;
}
.div_texto{
    width: 100%;
    border-bottom: 3px solid black;
}
.div_texto p{
    font-size: 1.4em;
    font-weight: 300;
    line-height: 55px;
    margin-top: 40px;
}

.p_texto_02{
    font-size: 1.4em;
    font-weight: 300;
    line-height: 75px;
    margin-top: 30px;
}

.p_texto_03{
    font-size: 1.4em;
    font-weight: 300;
    line-height: 75px;
    margin-top: 30px;
}


.destaque{
    font-weight: 500;
}

.div_texto h1{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: orange;
    text-decoration-thickness: 3px;
    text-underline-offset: 2px;
}
.div_button_texto{
    width: 80%;
    margin: auto;
    height: auto;
    margin-top: 20px;
    border-bottom: 3px solid black;
}

.div_button_texto button{
    height: 52px;
    width: 289px;
    background-color: #1c7ce2;
    border-radius: 5px;
    border: none;
    margin-bottom: 2%;
    cursor: pointer;
    transition: background 0.3s;
}

.div_button_texto button:hover{
    background-color: #1974d6;
}

.div_button_texto button a{
    color: white;
    font-size: 1.3em;
    text-decoration: none;
}



.main_texto_adicional{
    margin: auto;
    height: auto;
    width: 80%;
    margin-top: 50px;
}

.div_texto_adicional{
    width: 100%;
    border-bottom: 3px solid black;
}


.div_texto_adicional p{
    font-size: 1.4em;
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 75px;
}


.comentarios {
    width: 80%;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    height: auto;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
}

.comentarios h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
}

.comentarios p {
    text-align: center;
    font-weight: 300;
    margin-bottom: 20px;
}

.main_cards_comentarios {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.cards_comentarios {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #ddd;
}

.icon_container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.icon_container i {
    font-size: 20px;
    color: #333;
}

.name_cards {
    font-weight: bold;
    margin-top: 10px;
}

.role_cards {
    font-style: italic;
    color: #666;
    font-size: 14px;
}

.main_cadastro{
    display: flex;
    margin: auto;
    margin-top: 7%;
    width: 80%;
    height: auto;
    background-color: white;
    border-radius: 20px;
    border: 1px solid black;
}

.left_cadastro{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    border-radius: 10px;
}

.left_cadastro img{
    padding: 20px;
    border-radius: 30px;
    height: 400px;
    width: 500px;
}


.right_cadastro{
    width: 50%;
    padding: 20px;
}

.titulo_cad{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.titulo_cad a{
    text-decoration: none;
    font-size: 22px;
}

.titulo_cad a:hover{
    text-decoration: underline;
}

.conteudo_cadastro{
    display: flex;
    flex-direction: column;
}

.form_cadastro{
    display: flex;
    flex-direction: column;
}

.form_cadastro input{
    border-radius: 10px;
    height: 40px;
    padding-left: 10px;
}

.form_cadastro button{
    margin: auto;
    margin-top: 20px;
    width: 350px;
    height: 44px;
    border-radius: 10px;
    background-color: rgb(17, 17, 208);
    color: white;
    cursor: pointer;
    transition: background 0.4s;
    border: none;
}


.form_cadastro button:hover{
    background-color: blue;
}

.valido {
    border: 2px solid green;
  }
.invalido {
    border: 2px solid red;
}

input[type="checkbox"] {
    margin-top: 30px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

@media (max-width: 1170px) {
    .main_texto{
        margin-left: 0%;
        height: auto;
        width: 100%;
        margin: auto;
    }
    .div_texto{
        width: 100%;
        border-bottom: 3px solid black;
    }
    .div_texto p{
        padding: 20px;
        font-size: 1.3em;
        font-weight: 300;
        text-align: center;
    }

    .div_texto h1{
        margin-top: 50px;
    }

    .div_button_texto{
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        margin-left: 0%;
        height: auto;
        margin-top: 20px;
        border-bottom: 3px solid black;
    }

    .div_button_texto button{
        margin-bottom: 4%;
    }


    .main_texto_adicional{
        margin-left: 0%;
        height: auto;
        width: 100%;
        margin: auto;
    }

    .div_texto_adicional{
        width: 100%;
        border-bottom: 3px solid black;
    }
    .div_texto_adicional p{
        padding: 20px;
        font-size: 1.3em;
        font-weight: 500;
        text-align: center;
    }

    .container{
        max-width: 95%;
    }

    .main_cards_comentarios {
        flex-direction: column;
        align-items: center;
    }
    
    .comentarios{
      width: 90%;
    }

    .cards_comentarios {
        width: 90%;
        max-width: 300px;
    }

    .main_cadastro{
        width: 90%;
    }
    .left_cadastro{
        display: none;
    }
    .right_cadastro{
        width: 100%;
    }
    .titulo_cad{
        margin-bottom: 20px;
    }
    .titulo_cad h1{
        font-size: 1.4em;
    }

    .form_cadastro button{
        width: 250px;

    }

}

/*Fim estilos main*/


/*Estilos footer*/
.main_footer{
    margin-top: 100px;
    height: 350px;
    width: 100%;
    background: linear-gradient(to top,#244093, rgb(4, 4, 211));
}


.div_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ul_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.itens_footer{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.itens_footer h1{
    color: orange;
    font-weight: 500;
}
.itens_footer li a{
    color: white;
    text-decoration: none;
}

.itens_footer li a:hover{
    text-decoration: underline orange;
}

.div_dados{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.div_dados{
    color: white;
}

.p_bottom{
    margin-top: 30px;
}


@media (max-width: 1170px) {
  .main_footer{
    height: auto;
  }
  .itens_footer{
    display: none;
  }

  .div_dados{
    text-align: center;
    gap: 10px;
    width: 80%;
  }
  .p_top{
    font-size: 4vw;
    font-weight: 500;
  }

  .p_mid{
    font-size: 4vw;
    font-weight: 500;
  }

  .p_bottom{
    margin-top: 50px;
    font-size: 3vw;
    font-weight: 500;
    margin-bottom: 15px;
  }
}

/*Fim estilos footer*/